<div class="col s3 valign-wrapper" style="height:inherit;width:inherit;background-color:inherit;text-align:center;position:absolute;top:70px" ">
    <div class="card cyan darken-4" style="height:450px;top:0px;position:inherit;width:210px">
        <div class="card-content" style="width:inherit;display:inline-block;">
            <ul>
                <li>

                    <a href="#!user"><i class="large material-icons">person</i></a>
                    <h5>
                        <span class="white-text name">
                            {% if gender =="male" %}
                            Male
                            {% else %}
                            Female
                            {% endif %}
                        </span>
                    </h5>
                    <a href="#!email"><span class="white-text email">{{age}} Years Old</span></a>

                </li>

                <li>
                    <br />
                </li>

            </ul>
        </div>
    </div>
</div>