
<title>Self-Triage | Inforich AI</title>

<style type="text/css">
    .side-nav {
        top: 70px;
        width: 250px;
    }

    .material-navbar {
        height: 70px;
        background-color: teal;
    }
</style>
<header>
    <div class="navbar-fixed">

        
        <div class="nav-wrapper">
            <nav class="material-navbar">
                <div class="row nav-bar-top">
                    <div class="container main-content">
                        <div class="col s11 nav-left">
                            <a href="#" data-activates="mobile-demo"
                               class="waves-effect show-on-large button-collapse toggle-menu left">
                                <h4 style="color:ghostwhite;font-weight:bold;font-family:Courier New, Courier, monospace">AI Powered Self-Triage Portal</h4>
                            </a>
                        </div>

                        <div class="col s1 nav-right">
                            <img src="static/images/logo.png" />
                            
                        </div>
                    </div>
                </div>
                <div class="row nav-bar-action hidden">

                </div>
            </nav>
            <!--<nav class="cyan darken-4" role="navigation">
                <div class="nav-wrapper">
                 
                    <a href="#" class="brand-logo right"><img src="static/images/logo.png" /></a>
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                        <li><h5> </h5></li>
                        <li><h5>AI Powered Self-Triage Portal</h5></li>
                        
                    </ul>
                </div>
            </nav>-->
        </div>
    </div>
</header>

<!--<aside>
    <ul id="slide-out" class="side-nav fixed cyan darken-4">
        <li><a href="#!">First Sidebar Link</a></li>
        <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
</aside>-->



<!--<div class="navbar-fixed">
<nav class="blue" role="navigation">
  <div class="nav-wrapper container">
  <a id="logo-container" href="#" class="brand-logo">Pre-Triage Assesment</a>
    

    
  </div>
    <ul id="slide-out" class="side-nav fixed">
        <li>
            <div class="userView">
                
                <a href="#"><span class="white-text name">{{gender}}</span></a>
               
            </div>
        </li>
        
            <!--<li>
                <div>
                    {% if gender=="" %}
                    <h5>  Welcome</h5>
                    {% endif %}
                    --<a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a>
                </div>
                
            </li>-->
       