<div class="col s2 push-s2 valign-wrapper" style="height:inherit;width:500px;text-align:center;position:absolute;top:70px">
    <div class="card offset-m2 l6 offset-l6 cyan darken-4" style="height:450px;width:inherit;top:0px;position:inherit;">
        <div class="card-content">
            <h3 class="card-title white-text" style="font-weight:bolder">Provide some informations to proceed</h3>
            <ul>
                <li>
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <h6 class="white-text">Enter Patient's Age in years (0 for newborn)</h6>
                </li>
                <li>
                    <br />
                </li>
                <li>
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-red-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <h6 class="white-text">Select gender</h6>

                </li>
                <li>
                    <br />
                </li>
                <li>
                    <div class="preloader-wrapper small active">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                    <h6 class="white-text">Proceed to next step</h6>
                </li>
                <li>
                    <br />
                </li>
            </ul>
        </div>
    </div>
</div>